################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/code/.vs
/code/packages
/code/Src/Application/Api/bin
/code/Src/Application/Api/obj
/code/Src/Application/Model/bin
/code/Src/Application/Model/obj
/code/Src/DomainService/Core/bin
/code/Src/DomainService/Core/obj
/code/Src/DomainService/Model/bin
/code/Src/DomainService/Model/obj
/code/Src/Host/Host/bin
/code/Src/Host/Host/obj/Debug
/code/Src/Host/Model/bin/Debug
/code/Src/Host/Model/obj/Debug
/code/Src/Interface/Core/bin
/code/Src/Interface/Core/obj
/code/Src/Base/bin/Debug
/code/Src/Base/obj/Debug
/code/Src/Base/bin/Release
/code/Src/Base/obj/Release
/code/Src/Host/Host/obj/Release
/code/Src/Host/Model/obj/Release
/code/Src/Host/Model/bin/Release
/code/Src/Infrastructure/DataAccess/bin
/code/Src/Infrastructure/DataAccess/obj
/code/Src/Infrastructure/Model/bin
/code/Src/Infrastructure/Model/obj
/code/Src/Interface/DataAccess/bin
/code/Src/Interface/DataAccess/obj
